#web_bg {
    background: -webkit-linear-gradient(
      0deg,
      rgba(35, 28, 21, 0.1) 0,
      rgba(32, 22, 19, 0.1) 15%,
      rgba(44, 27, 32, 0.1) 30%,
      rgba(60, 38, 63, 0.1) 44%,
      rgba(29, 37, 54, 0.1) 58%,
      rgba(25, 41, 44, 0.1) 72%,
      rgba(27, 56, 52, 0.1) 86%,
      rgba(32, 36, 33, 0.1) 100%
    );
    background: -moz-linear-gradient(
      0deg,
      rgba(75, 59, 43, 0.1) 0,
      rgba(44, 33, 30, 0.1) 15%,
      rgba(95, 71, 78, 0.1) 30%,
      rgba(51, 0, 59, 0.1) 44%,
      rgba(41, 63, 108, 0.1) 58%,
      rgba(19, 25, 26, 0.1) 72%,
      rgba(15, 28, 26, 0.1) 86%,
      rgba(39, 74, 48, 0.1) 100%
    );
    background: -o-linear-gradient(
      0deg,
      rgba(34, 30, 26, 0.1) 0,
      rgba(60, 33, 27, 0.1) 15%,
      rgba(98, 61, 72, 0.1) 30%,
      rgba(87, 67, 91, 0.1) 44%,
      rgba(30, 42, 67, 0.1) 58%,
      rgba(43, 69, 73, 0.1) 72%,
      rgba(40, 49, 48, 0.1) 86%,
      rgba(53, 53, 53, 0.1) 100%
    );
    background: -ms-linear-gradient(
      0deg,
      rgba(48, 36, 23, 0.1) 0,
      rgba(43, 25, 21, 0.1) 15%,
      rgba(73, 46, 53, 0.1) 30%,
      rgba(70, 48, 74, 0.1) 44%,
      rgba(29, 32, 40, 0.1) 58%,
      rgba(34, 44, 45, 0.1) 72%,
      rgba(26, 48, 45, 0.1) 86%,
      rgba(29, 45, 33, 0.1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(30, 20, 11, 0.1) 0,
      rgba(56, 31, 26, 0.1) 15%,
      rgba(43, 14, 22, 0.1) 30%,
      rgba(35, 21, 37, 0.1) 44%,
      rgba(24, 31, 47, 0.1) 58%,
      rgba(27, 56, 60, 0.1) 72%,
      rgba(13, 51, 46, 0.1) 86%,
      rgba(27, 36, 30, 0.1) 100%
    );
  }
  