#web_bg {
    background: -webkit-linear-gradient(
      0deg,
      rgba(71, 52, 33, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(72, 56, 61, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(62, 71, 64, 0.1) 100%
    );
    background: -moz-linear-gradient(
      0deg,
      rgba(75, 59, 43, 0.1) 0,
      rgba(105, 70, 63, 0.1) 15%,
      rgba(95, 71, 78, 0.1) 30%,
      rgba(51, 0, 59, 0.1) 44%,
      rgba(41, 63, 108, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(2, 90, 78, 0.1) 86%,
      rgba(39, 74, 48, 0.1) 100%
    );
    background: -o-linear-gradient(
      0deg,
      rgba(130, 113, 95, 0.1) 0,
      rgba(60, 33, 27, 0.1) 15%,
      rgba(98, 61, 72, 0.1) 30%,
      rgba(87, 67, 91, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(43, 69, 73, 0.1) 72%,
      rgba(86, 106, 104, 0.1) 86%,
      rgba(53, 53, 53, 0.1) 100%
    );
    background: -ms-linear-gradient(
      0deg,
      rgba(48, 36, 23, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(73, 46, 53, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(118, 155, 160, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(27, 56, 60, 0.1) 72%,
      rgba(13, 51, 46, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
  }
  